{% extends 'base.html' %}

{% block title %}
<title>Encuesta | Redes Sociales</title>
{% endblock title %}

{% block content %}
<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Redes Sociales</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Correo</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Red Favorita</th>
            <th scope="col">Facebook</th>
            <th scope="col">WhatsApp</th>
            <th scope="col">Twitter</th>
            <th scope="col">Instagram</th>
            <th scope="col">Tiktok</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
        <tr>
            <td scope="row">{{ emp.Correo }}</td>
            <td>{{ emp.Edad }}</td>
            <td>{{ emp.Sexo }}</td>
            <td>{{ emp.Social }}</td>
            <td>{{ emp.Facebook }}</td>
            <td>{{ emp.WhatsApp }}</td>
            <td>{{ emp.Twitter }}</td>
            <td>{{ emp.Instagram }}</td>
            <td>{{ emp.Tiktok }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <a href="{% url 'nueva_encuesta' %}"><button type="button" class="btn btn-primary">Responder una nueva
            encuesta</button></a>
</div><br>

<div class="text-center">
    <a href="{% url 'employees-result' %}"><button type="button" class="btn btn-primary">Ver estadisticas</button></a>
</div>
{% endblock content %}